<%- include('layout/header'); -%>
  <div class="bg-light px-5 py-4 rounded">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h2>Pedidos em Andamento</h2>
        <p class="lead" style="font-size: 1.1rem;">Acompanhando os pedidos em andamento</p>
      </div>
      <a href="<%- route.home() -%>" class="btn btn-dark d-flex align-items-center" style="text-decoration: none;">
        Ir p/ Home
      </a>
    </div>
  </div>
  <%- include('utils/drag-and-drop'); -%>
  <%- include('js/socket') -%>
<%- include('layout/footer'); -%>